@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arimo:wght@600&family=Lato&family=Lora:ital,wght@1,500&family=Merriweather:wght@300&family=Noto+Sans:wght@300&family=Open+Sans&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    --primary-color: #e7e0ee;
    --ses-color: #f3f1f5;
    --hover-color: #11052c;
    --color: #1f1f1f;
    --text-color: #f3f1f5;
}

body[data-theme="dark"] {
    --primary-color: #0f0f0f;
    --ses-color: #1a1a1a;
    --hover-color: #ededed;
    --color: #f0f0f0;
    --text-color: #1f1f1f;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--primary-color);
    color: var(--color);
}

.card {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    background: var(--ses-color);
    border-radius: 10px;
}


.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.btn {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-top: 1em;

    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    cursor: pointer;
    background: var(--ses-color);

    color: var(--color);
    transition: all .4s;
}